/**
 * Wonderflux theme framework structure CSS
 * http://wonderflux.com
 *
 * @package Wonderflux
 * @since 0.1
 * @updated 2.0
 */

/*** Positioning and styling ***/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
body { line-height: 1.5; }
html { font-size: 100.01%; }
body { font-size: 75%; color: #222; background: #fff; font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; }
.alignright, .align-right { float: right; margin: 0 0 5px 20px; }
.alignleft, .align-left { float: left; margin: 0 20px 5px 0; }
.aligncenter, .align-center { text-align: center; margin: 5px auto; }
.first, .flush-left { margin-left: 0; padding-left: 0; }
.last, .flush-right { margin-right: 0; padding-right: 0; }
.top, .flush-top { margin-top: 0; padding-top: 0; }
.bottom, .flush-bottom { margin-bottom: 0; padding-bottom: 0; }
.content-left { text-align: left; }
.content-right { text-align: right; }
/* Clearing floats without extra markup Based on How To Clear Floats Without Structural Markup by PiE [http://www.positioniseverything.net/easyclearing.html] */
.clearfix:after, .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; overflow: hidden; }
.clearfix, .container { display: block; }
.clear { clear: both; }


/*** Headings ***/

h1,h2,h3,h4,h5,h6 { font-weight: normal; color: #111; }
h1 { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
h2 { font-size: 2em; margin-bottom: 0.75em; }
h3 { font-size: 1.5em; line-height: 1; margin-bottom: 1em; }
h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }
h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }
h6 { font-size: 1em; font-weight: bold; }
h1 img, h2 img, h3 img,
h4 img, h5 img, h6 img { margin: 0; }


/*** Text elements ***/

p { margin: 0 0 1.5em; }
p img.left { float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
p img.right { float: right; margin: 1.5em 0 1.5em 1.5em; }
a:focus, a:hover { color: #000; }
a { color: #009; text-decoration: underline; }
blockquote { margin: 1.5em; color: #666; font-style: italic; }
strong { font-weight: bold; }
em,dfn { font-style: italic; }
dfn { font-weight: bold; }
sup, sub { line-height: 0; }
abbr, acronym { border-bottom: 1px dotted #666; }
address { margin: 0 0 1.5em; font-style: italic; }
del { color: #666; }
pre { margin: 1.5em 0; white-space: pre; }
pre,code,tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; word-wrap: break-word; }


/*** Links ***/
a, a:active { outline: none; }
a, a:focus { -moz-outline-style: none; }
a img { border: none; }


/*** Forms ***/

label { font-weight: bold; }
fieldset { padding: 1.4em; margin: 0 0 1.5em 0; border: 1px solid #ccc; }
legend { font-weight: bold; font-size: 1.2em; }
input[type=text], input[type=password], input.text, input.title, textarea, select { background-color: #fff; border: 1px solid #bbb; }
input[type=text]:focus, input[type=password]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus { border-color: #666; }
input[type=text], input[type=password], input.text, input.title, textarea, select { margin: 0.5em 0; }
input.text, input.title { width: 300px; padding: 5px; }
input.title { font-size: 1.5em; }
textarea { width: 390px; height: 250px; padding: 5px; }
input[type=checkbox], input[type=radio], input.checkbox, input.radio { position: relative; top: .25em; }
form.inline { line-height: 3; }
form.inline p { margin-bottom: 0; }


/*** Lists ***/

li ul, li ol { margin: 0 1.5em 1em; }
ul, ol { margin: 0 1.5em 1.5em 1.5em; }
ul { list-style-type: disc; }
ol { list-style-type: decimal; }
dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }
dd { margin-left: 1.5em; }


/*** Tables ***/

table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
table, td, th { vertical-align: middle; }
table { margin-bottom: 1.5em; width: 100%; }
th { font-weight: bold; }
thead th { background: #c3d9ff; }
th,td,caption { padding: 5px; }
tr.even td { background: #e5ecf9; }
caption { background: #eee; }


/*** Image handling ***/

/* Fluid images for posts, comments, and widgets */
.entry-content img,
.entry-summary img,
.comment-content img,
.widget img,
.wp-caption {
	max-width: 100%;
}

/* Make sure images with WordPress-added height and width attributes are scaled correctly */
.entry-content img,
.entry-summary img,
.comment-content img[height],
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto;
}

img.size-full,
img.size-large,
img.wp-post-image {
	height: auto;
	max-width: 100%;
}


/*** WordPress Specific ***/

/* Media */

.wp-caption { font-size: 0.9em; }
.gallery-caption { font-size: 0.9em; }
.wp-caption-text { font-weight: bold; }

/* Comments */

.bypostauthor { font-weight: bold; }
ol.commentlist ul { list-style: none; }
ol.commentlist p { margin-bottom: 0; }
.comment-body { margin-bottom: 15px; }

/* Posts */

.sticky { font-weight: bold; }


/*** Responsive ***/
.responsive-full-width { width: auto !important; width: 100%; max-width: 100%; height: auto; } /* Use this to size elements to full width of container */